.aboutLogo {
  display: block;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Name{
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 2px red;
}

.Discrip{
  text-align: center;
  font-style: italic;
}
